/* PHASE 0: Sidebar */
.profile-picture{
    display: block;
    margin-top: -120px;
    position: relative;
    z-index: 2;
    
}

.profile-picture img{
    border-radius: 25px;
    border: 2px solid black;
    position: relative;
    z-index: 3;
}

.profile-info h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

.profile-nav ul:first-child{
border-top: 1px solid lightgrey;
}

.profile-nav li{
    font-weight: bold;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgrey;
}